/*doc
---
title: Start
name: 01start
category: CSS Styleguide - Examples
---


```html_example
  <section class="start">
    <div class="User">
      <div class="container">
        <div class="avatar">
          <img src="../assets/images/avatar.png"/>
        </div>
        <div class="body">
          <h2>MC Hammer</h2>

          <ul class="informations">
            <li>
              <b>Email</b>: mchammer@gangsta.com
            </li>
            <li>
              <b>Address</b>: Ghetto Blaster, 23 av.
            </li>
            <li>
              <b>Phone</b>: You foolish chicken
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Timeline">
      <div class="container">
        <div class="header">
          Messages
        </div>
        <div class="body">
          <ul class="messages">
            <li class="message">
              <div class="header">
                <div class="avatar">
                  <img src="../assets/images/avatar.png"/>
                </div>
              </div>
              <div class="content">
                <p><b>MC Hammer</b> <small>- Yesterday, 8:01</small></p>
                <p>My-my-my-my music keeps me so hard makes me say oh my Lord
                Thank you for blessing me with a mind to rhyme and two hype feet</p>
              </div>
            <li>
            <li class="message">
              <div class="header">
                <div class="avatar">
                  <img src="../assets/images/avatar.png"/>
                </div>
              </div>
              <div class="content">
                <p><b>MC Hammer</b> <small>- Yesterday, 8:01</small></p>
                <p>My-my-my-my music keeps me so hard makes me say oh my Lord
                Thank you for blessing me with a mind to rhyme and two hype feet</p>
              </div>
            <li>
            <li class="message">
              <div class="header">
                <div class="avatar">
                  <img src="../assets/images/avatar.png"/>
                </div>
              </div>
              <div class="content">
                <p><b>MC Hammer</b> <small>- Yesterday, 8:01</small></p>
                <p>My-my-my-my music keeps me so hard makes me say oh my Lord
                Thank you for blessing me with a mind to rhyme and two hype feet</p>
              </div>
            <li>
          </ul>
        </div>
      </div>
    </div>
  </section>
```
*/

section.start {
  font-family: "Open Sans", sans-serif;

  .User {
    width: 33.333%;
    text-align: center;
  }

  .Timeline {
    width: 66.667%;
  }

  .User, .Timeline {
    float: left;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .User .container {
    border: 1px solid #DDDDDD;
    padding: 15px;
    border-radius: 3px;
  }

  .User .avatar img {
    width: 90px;
    height: 90px;
    margin-top: -45px;
    border-radius: 3px;
  }

  .User ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 13px;
  }

  .Timeline > .container > .header {
    background-color: rgb(240,240,240);
    margin: -15px -15px 15px -15px;
    padding: 15px;
    border-bottom: 1px solid #DDDDDD;
  }

  .Timeline .container {
    border: 1px solid #DDDDDD;
    padding: 15px;
    border-radius: 3px;
  }

  .Timeline .avatar {
    float: left;
    margin-right: 10px;
  }

  .Timeline .message .header .avatar img {
    width: 32px;
    height: 32px;
    border-radius: 3px;
  }

  .Timeline .message .content {
    zoom: 1;
    overflow: hidden;
  }

  .Timeline .message .content p {
    margin: 0 0 10px 0;
  }

  .Timeline ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
  }

}
